<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserController</servlet-name>
  	<display-name>UserController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.UserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardController</servlet-name>
  	<display-name>DashboardController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.DashboardController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerController</servlet-name>
  	<display-name>CustomerController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.CustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DriverController</servlet-name>
  	<display-name>DriverController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.DriverController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VehicleController</servlet-name>
  	<display-name>VehicleController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.VehicleController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignmentController</servlet-name>
  	<display-name>AssignmentController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.AssignmentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookingController</servlet-name>
  	<display-name>BookingController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.BookingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SystemConfigController</servlet-name>
  	<display-name>SystemConfigController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.SystemConfigController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillingController</servlet-name>
  	<display-name>BillingController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.BillingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerBookingController</servlet-name>
  	<display-name>CustomerBookingController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.CustomerBookingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerBillingController</servlet-name>
  	<display-name>CustomerBillingController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.CustomerBillingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CancelBookingController</servlet-name>
  	<display-name>CancelBookingController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.CancelBookingController</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>CustomerHelpController</servlet-name>
  	<display-name>CustomerHelpController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.CustomerHelpController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CompleteBookingController</servlet-name>
  	<display-name>CompleteBookingController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.CompleteBookingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookingHistoryController</servlet-name>
  	<display-name>BookingHistoryController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.BookingHistoryController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminHelpController</servlet-name>
  	<display-name>AdminHelpController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.AdminHelpController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminProfileController</servlet-name>
  	<display-name>AdminProfileController</display-name>
  	<description></description>
  	<servlet-class>com.cabservice.controller.AdminProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserController</servlet-name>
  	<url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardController</servlet-name>
  	<url-pattern>/DashboardController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DriverController</servlet-name>
  	<url-pattern>/DriverController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VehicleController</servlet-name>
  	<url-pattern>/VehicleController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignmentController</servlet-name>
  	<url-pattern>/AssignmentController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookingController</servlet-name>
  	<url-pattern>/BookingController</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>SystemConfigController</servlet-name>
  	<url-pattern>/SystemConfigController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillingController</servlet-name>
  	<url-pattern>/BillingController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerBookingController</servlet-name>
  	<url-pattern>/CustomerBookingController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerBillingController</servlet-name>
  	<url-pattern>/CustomerBillingController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelBookingController</servlet-name>
  	<url-pattern>/CancelBookingController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerHelpController</servlet-name>
  	<url-pattern>/CustomerHelpController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CompleteBookingController</servlet-name>
  	<url-pattern>/CompleteBookingController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookingHistoryController</servlet-name>
  	<url-pattern>/BookingHistoryController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminHelpController</servlet-name>
  	<url-pattern>/AdminHelpController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminProfileController</servlet-name>
  	<url-pattern>/AdminProfileController</url-pattern>
  </servlet-mapping>
  
  
</web-app>
